html,
body {
  margin: 0;
}

body {
  background: #eee;
}

.box {
  width: 100vw;
  height: 100vh;
  background-color: #abdbe3;
}

.logo {
  margin: 0px auto;
  width: 120px;
  height: auto;
}

.login-form {
  padding: 50px;
}

.logout-image {
  width: 40px;
  height: auto;
}

.todo-table th,
.todo-table td {
  border: 1px solid #0d6efd;
}
